<app-title title="Cart Page" margin="1.5rem 0 0 2rem"></app-title>

<div class="container">
    <ul>
        <li *ngFor="let cartItem of cart.items">
            <div class="">
                <img [src]="cartItem.book.imageUrl" [alt]="cartItem.book.title">
            </div>
            <div class="">
                <a routerLink="/book/{{cartItem.book.id}}">
                    {{cartItem.book.title}}
                </a>
            </div>
            <div>
                <select name="" id="" #quantitySelect [value]="cartItem.quantity" (change)="changeQuantity(cartItem,quantitySelect.value)">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
            <div>
                {{cartItem.price|currency}}
            </div>
            <div>
                <button class="remove-button" (click)="removeFromCart(cartItem)">Remove</button>
            </div>
        </li>
    </ul>
    <div class="checkout">
        <div>
            <div class="books-count">{{cart.totalCount}}</div>
            <div class="total-price">{{cart.totalPrice|currency}}</div>
        </div>

        <a routerLink="/checkout">Checkout</a>
    </div>
</div>
